.reset-container {
  composes: container;
}

.reset-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.reset-container form input {
  margin-bottom: 14px;
}

.reset-container form button {
  width: 100%;
  margin-top: 10px;
}
